<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <%= link_to 'ユーザページへ', user_path(current_user.id), class: 'btn btn-lg btn-primary' %>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>ようこそ Family Communicationsサービスへ</h1>
      <h1>家族とのコミュニケーションを活性化することを目的としたサービスです。</h1>
      <h1>日頃のちょっとしたことを日記や一言お話しする目的で利用できます。</h1>
      <h1>利用開始は、下記のボタンから</h1>
      <%= link_to 'サインアップへ', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
